.login {
    background-color: #0f172a;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.log{
    color: #252733;
    font-weight: bolder;
}

.container {
    background-color: aliceblue;
    width: 380px;
    height: 500px;
    margin-top: 6.7rem;
    margin-bottom: 6.6rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.cont2 {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}

.login-button {
    width: 100%;
    border-radius: 5px;
}

.password {
    display: flex;
    justify-content: space-between;
}

.account {
    margin-left: auto;
    margin-right: auto;
}


